
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdu.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


.navbar-brand{
 margin-left: 1rem;
}


.navbar{
 font-family: 'Source Sans Pro';
 border-bottom: 3px solid #1AFF83 ;
 border-bottom-left-radius: 20%;
 border-bottom-right-radius: 20%;
 padding: 10px 10px;
 padding-top: 15px;
 position: fixed;  
 top: 0;   
 z-index: 2;
 width: 100%;
 
}

.sla{

font-family: 'Source Sans Pro';
 width: auto;
 height: 38.3rem;
 border-bottom: 5px solid black ;
 border-bottom-left-radius: 5%;
 border-bottom-right-radius: 5%;

}

.capa{
 margin-top: 5%;
 float: left;
}

.nome{

 color: black;
 font-size: 12rem;
 margin-left: 43%;
 text-decoration: underline;
 transform: scale(1.1);
 filter: drop-shadow(5px 10px 4px grey);
 margin-top: 10px;
}


.segundo-nome{
 color: black;
 font-size: 3rem;
 margin-left: 44%;
}

#linha-vertical {
 background-color: #A81AFF;
 height: 20rem;
 border-right: 10px solid black;
 margin-top: 8%;
 margin-left: 22.5%;
 border-radius: 20px 20px;
 float: left;
}

.sobre{
font-family: 'Source Sans Pro';
 color:black;
 width: 30%;
 margin-top: 8%;
 margin-left: 11%;
 float: right;
 float: left;
 text-align: justify;
 
}

.portifolio{
 font-family: var(-ff-primary);
 margin-top: 1%;
 margin-left: 42.3%;
 margin-right: 57.8%;
 float: left;
 color:black;
 
}

.descobrir{
 font-family: var(-ff-primary);
 background-color: black;
 color: white;
 border-style:ridge;
 padding: 10px 40px;
 cursor: pointer;
 border-radius: 20px 20px;
 margin-left: 59%;
 margin-right: 21%;
 margin-top: 5%;
 box-shadow: 5px 5px 5px black;
}

.descobrir:hover{

 color: #1AFF83;
 border-color: #1AFF83;
 transform: scale(1.1);
 transition: all 0.5s;
 
}

#linha-horizontal {
 
 width: 48.5%;
 border: 0.5rem solid #ffffff;
 border-top-right-radius: 40%;
 border-bottom-right-radius: 40%;
 margin-bottom: 5%;
 float: left;
}

#linha-horizontal2 {
 
 width: 48.5%;
 border: 0.5rem solid white;
 border-top-left-radius: 40%;
 border-bottom-left-radius: 40%;
 margin-bottom: 5%;
 margin-left: 51.5%;
}

.minhadescrição{
 height: 60%;
}

.descrição{
    font-family: 'Source Sans Pro';
 width: 40%;
 margin-left: 5%;
 margin-top: 20%;
 float: left;
 text-align: justify;
}

.minha-foto img{

 margin-left: 18%;
 width: 25%;
 margin-top: 10%;
 margin-bottom: 10%;

 border: 4px solid #1AFF83;
 filter: drop-shadow(5px 10px 4px grey);
 
}

.Logos img{

 
 width: 12%;
 margin-top: 5%;
 margin-left: 10%;
filter: drop-shadow(5px 10px 4px grey);

}


#Tecnologias{
    font-family: 'Source Sans Pro';
 width: 48.5%;
 margin-left: 46.5%;
 
}

#csharp img{
 margin-top: 5%;
 margin-left: 3%;
 width: 23%;
 filter: drop-shadow(5px 10px 4px grey);

}

#html img{
 margin-top: 4.5%;
 margin-left: 9%;
 width: 15%;
 filter: drop-shadow(5px 10px 4px grey);
}

#primeiras .Logos{
 margin-left: -1%;
}

.teste{
 margin-top: 10%;
 height: 100px;
}

#segundas{

 border-bottom: 1px groove;
}


#LinhaProjetos{
 
margin-top: 7%;
}

#Projetos{
    font-family: 'Source Sans Pro';
 margin-left: 44.5%;  
}

.ConteudoProjeto{
    font-family: 'Source Sans Pro';
 margin-top: 10%;
 margin-bottom: 20%;
 margin-left: 10% ;
}

#ContatoTitulo{
 margin-left: 44.5%;  
 font-family: 'Source Sans Pro';
}

#Formulario{
    font-family: 'Source Sans Pro';
 margin-left: 51%;
 margin-right: 1%;
 margin-top: 5%;
 
}


textarea {
    font-family: 'Source Sans Pro';
 width: 85%;
 height: 180%;
 padding: 10px 10px;
 box-sizing: border-box;
 border: 2px solid black;
 border-radius: 20px 20px;
 background-color: white;
 resize: none;
 filter: drop-shadow(5px 5px 4px grey);
 margin-bottom: 5%;
 float: left;
 
 
}



.Itext {
    font-family: 'Source Sans Pro';
 width: 85%;
 height: 80%;
 padding: 10px 10px;
 border: 2px solid black;
 border-radius: 20px 20px;
 background-color: white;
 resize: none;
 filter: drop-shadow(5px 5px 4px grey);

}

.row{
margin-top:2%
}

.enviar{
 margin-top: 10%;
}
 
.BEnviar{
 background-color: black;
 color: white;
 border-style:ridge;
 padding: 10px 40px;
 cursor: pointer;
 border-radius: 20px 20px;
 margin-left: 64%;
 margin-top: 5%;
 box-shadow: 5px 5px 5px black;
}

.BEnviar:hover{
 color: #1AFF83;
 border-color: #1AFF83;
 transform: scale(1.1);
 transition: all 0.5s;
}

#rodape{
    font-family: 'Source Sans Pro';
     margin-top: 5%;
     padding: 10px;
     border-top: 2px solid black;
     border-top-left-radius:70%;
     border-top-right-radius:70%;
     bottom: 0;
     left: 0;
     height: 40px;
     background-color: black;
     width: 100%;
     color: white;
     text-align: center;
     
   
}


.Contato{
 margin-top: 5%;
 font-family: 'Source Sans Pro';
}

#Projetos{
 margin-top: 5%;
}

#Tecnologias{
 margin-top: 5%; 
}

.MeiosContato{
    font-family: 'Source Sans Pro';
 margin-top: 6%;
 margin-left:5%;
 float :left;
 font-size:20px;
 font-weight: bold;
}

.Email{
margin-top:7%;
font-family: 'Source Sans Pro';
}

.Telefone{
 margin-top:7%;
 font-family: 'Source Sans Pro';
}

.icones{
  /* junta os inputs */
 display: flex;
  float: left;
  /* estilos adicionais */
  border: none;
  margin-top: 42%;

 
}

#Wp{

 border: none;
 max-height: 60px;
 filter: drop-shadow(5px 5px 4px rgb(163, 156, 156));
 

}

#Is{

 border: none;
 max-height: 60px;
 max-height: 60px;
 filter: drop-shadow(5px 5px 4px rgb(163, 156, 156));



}

#Fb{

 border: none;
 max-height: 60px;
 max-height: 60px;
 filter: drop-shadow(5px 5px 4px rgb(163, 156, 156));
 


}

#Fb:hover{
 
 transform: scale(1.1);
 transition: all 0.5s;
 filter: drop-shadow(5px 5px 4px #1AFF83);

}
#Is:hover{
 
 transform: scale(1.1);
 transition: all 0.5s;
 filter: drop-shadow(5px 5px 4px #1AFF83);

}
#Wp:hover{
 
 transform: scale(1.1);
 transition: all 0.5s;
 filter: drop-shadow(5px 5px 4px #1AFF83);

}

